// Basic color theme for layout
// Basic layout color
$navigation: #fff
$hover: #0F5F2C
$hover_font: #fff
$content: #fff
$basic_background: #fff

// Calculated colors form basic layout colors

// Navigation bar
$gradient_nav_light: $navigation
$gradient_nav_middle: darken($gradient_nav_light, 14%)
$gradient_nav_dark: darken($gradient_nav_light, 30%)

// Background
$page_bkgd: darken($basic_background, 5%)

// Background gradients
$gradient_bkgd_light: $page_bkgd
$gradient_bkgd_middle: darken($basic_background, 14%)
$gradient_bkgd_dark: darken($basic_background, 30%)

// Content
$content_box: $content
$content_bkgd: darken($content, 7%)

// Style element color
$border: #0F5F2C
$shadow: #ddd // darken($basic_background, 30%)

// Form styles

// Default border radius
$default-border-radius: 4px 

// Default box shadow
$default-box-shadow-color: $shadow
$default-box-shadow-h-offset: 0px
$default-box-shadow-v-offset: 0px
$default-box-shadow-blur: 10px
$default-box-shadow-spread: 0px
$default-box-shadow-inset: false

// Default text shadow
$default-text-shadow-color: #f4f4f4
$default-text-shadow-blur: 1px
$default-text-shadow-v-offset: 1px
