.line  
  .box
    .small
      :markdown
        Finanzbuchhaltung
        -----------------
        
        Mit unserer Finanzbuchhaltung behalten Sie den Überblick über den Geschäftsgang.
        
        Dynamische Bilanz- und Erfolgsrechnungen bieten Ihnen die nötige Übersicht. In den Konten sehen sie die detailierten Buchungen.
        Rechnungs-, Zahlungs-, aber auch Aktivierungs- oder Abschreibungsbuchungen sind bequem mit den entsprechenden Subjekten verlinkt.

  .box
    .small
      %h2
        Debitoren
      %p
        Als Firma stellt man gerne Rechnungen, das Erstellen und Verwalten können wir Ihnen erleichtern.

        Neben den Grundfunktionen wie mehreren Positionen und individuellem Briefkopf bietet unsere Debitorenlösung effiziente Lösungen für die meisten Bedürfnisse.
        Der automatische Zahlungsableich per VESR ist z.B. ideal für hohe Volumina, PDF-Rechnungen mit hübschem Einzahlungsschein perfekt für Ihr Online-Business.

  .box.last
    .small
      %h2
        Kreditoren
      %p
        Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
.line  
  .box
    .small
      %h2
        Lohn
      %p
        Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
  .box
    .small
      %h2
        Projekt- und Zeiterfassung
      %p
        Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
  .box.last
    .small
      %h2
        Datei-Verwaltung
      %p
        Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
