.line
  .box
    .small.spacer
      %h2
        Open Source
      %p
        Es gibt zahlreiche ausgereifte Programme, welche frei (open source) verfügbar sind. 
        Doch wer garantiert den sicheren und reibungslosen Betrieb? Wir bieten professionellen 
        Service und Support zu Open Source Software.
      %h2
        Dienstleistung
      %p
        Sämtliche Programme, die wir anbieten, sind als Service verfügbar. Das heisst 
        Sie müssen sich nicht um das Backup oder den Betrieb eines Servers kümmern. 
        Ein Computer mit Internet-Zugang reicht und Sie haben sämtliche Unternehmensdaten zur Verfügung.
    .small
      %h2
        Entwicklung
      %p
        Wenn es für Ihre Bedürfnisse noch kein geeignetes Programm gibt, entwickeln
        wir es nach Ihren Vorstellungen oder passen ein bestehendes Programm an Ihre 
        Bedürfnisse an. Dank modernen Technologien und Entwicklungsmodellen ist die 
        Individualentwicklung auch für kleine Unternehmen erschwinglich geworden.
    
      %h2  
        Infrastruktur
      %p
        Gerne beraten wir Sie bei Kauf, Planung und Umsetzung Ihrer Netzwerkinfrastruktur.
  .box.last
    .small
      %h2
        News
      %h3
        Wikisigns.ch
      %p
        Veröffentlicht Dienstag, 20. September 2011, 12:26 Uhr
      %p
        An der Ausstellung in der Ankenwaage in Zug wirkt die CyT GmbH künstlerisch mit, 
        www.wikisigns.ch ein kreatives Tool für Gross und Klein. ... Weiterlesen
      %h3
        Heusser AG
      %p
        Veröffentlicht Montag, 08. August 2011, 08:51 Uhr
      %p
        Erfolgreiche Präsentation des neuen Webtools für die Heusser AG. Zitat des 
        Geschäftführers: "Es ist wirklich fantastisch."
.line
  .box.last
    .small.spacer
      %h2
        Bookyt
      %p
        Bookyt ist unser Herzstück, welches wir von Grund auf selber konzipiert und entwickelt haben. Bookyt dient 
        allgemein der Verwaltung von Kunden- und Partnerdaten, Erstellung von Rechnungen, Kontrolle von Zahlungen 
        und Führen einer Finanzbuchhaltung. Auf Wunsch lässt sich Bookyt mit CyPlan verbinden, damit auf Basis der 
        in CyPlan erfassten Zeit in CyBook zur Verrechnung verwendet werden kann. Diese Anpassung findet insbesondere 
        Anwendung bei Dienstleistungsunternehmen, welche Beratung, Entwicklung oder Support anbieten.
    .small.spacer
      %h2
        CyDoc
      %p
        CyDoc ist eine für Ärzte und Therapeuten konzipierte Software für die Praxisadministration. 
        Sie bietet sämtilche Basisfunktionen, wie Tarmed konforme Rechnungsstellung und Verwaltung 
        von Patienteninfromationen, die eine Arztpraxis benötigt. Da CyDoc wahlweise im Internet, 
        als auch lokal in der Praxis betrieben werden kann, können die Betriebskosten deutlich gesenkt 
        werden. CyDoc ist "Free Open Source Software", was bedeutet, dass man keine Lizenz für das bestehende 
        Programm kaufen muss. Lediglich die Zeit, welche explizit für Ihre Praxis aufgewendet wird, muss 
        bezahlt werden. Dies hat den wesentlichen Vorteil, dass wir stets bestrebt sind beste Servicequalität 
        zu liefern.
    .small
      %h2
        Redmine
      %p
        Basierend auf dem weit verbreiteten Online-Projektmanagement Programm Redmine, bieten wir eine 
        individualisierte Projektplanungs-Umgebung für Ihre Bedürfnisse. Damit können Sie eine beliebige 
        Anzahl Projekte verwalten, Benutzer erfassen und Berechtigungen verteilen. Es gibt eine integrierte 
        Wissensdatenbank, mit der auf einfachste Weise komplexes Wissen dokumentiert werden kann. Das Kernstück 
        von CyPlan ist jedoch die ausgeklügelte Arbeitsplanungs-Funktion. Es lassen sich verschiedene Kategorien 
        von Aufgaben erstellen, für welche die Ressourcen wie Mitarbeiter, budgetierte und effektive Zeit 
        koordiniert werden können. Des weiteren haben sämtliche Projekt-Mitarbeiter zugriff auf die zentrale 
        Dateiverwaltung, was die Existenz von verschiedenen Versionen, verteilt im Unternehmen, vermeidet.

