.line  
  .box
    .small
      %h2
        Übersicht
      %p
        Seit einiger Zeit sind wir als Informatik Betrieb, spezialisiert auf individuelle Softwareentwicklung, in der Zuger Altstadt tätig. Wir haben Programme für verschiedene kleine bis mittlere Unternehmen umgesetzt und dadurch, dass sich die Bedürfnisse immer wieder überschneiden, ist unser KMU-Programm bookyt entstanden.
  .box
    .small
      %h2
        Features
      %p
        Bookyt unterstützt die wichtigsten administrativen Tätigkeiten wie:
      %ul
        %li
          Finanzbuchhaltung
        %li
          Debitorenbuchhaltung
        %li
          Kreditorenbuchhaltung
        %li
          Lohnbuchhaltung
        %li
          Projekt-/Zeiterfassung
        %li
          Datei-Verwaltung
        %li
          Externer Echtzeitzugriff für Treuhänder/Buchhalter
  .box.last
    .small
      %h2
        Referenzen
      %p
        Bookyt ist mittlerweile bereits bei 6 Unternehmen und 2 Privatpersonen im produktiven Einsatz und hat somit den Akzeptanztest bestanden. Wir wollen im 2012 mit der Vermarktung in der ganzen Deutschschweiz beginnen und möchten diesbezüglich mit Treuhändern zusammenarbeiten. 

.line
  .box.last
    .text
    .double.spacer
      %h2
        Kontakt
      %p
        Gerne kommen wir bei Ihnen vorbei um Ihnen sämtliche Funktionen zu präsentieren.  
      %p
        %form
          %p
            %input{ :placeholder => " Vorname", :style => "width: 294px" }
            %input{ :placeholder => " Nachname", :style => "width: 294px" }
          %p
            %input{ :placeholder => " e-Mail", :style => "width: 594px" }
          %p
            %textarea{ :placeholder => " Nachricht", :style => "width: 594px; height: 120px" }
          %p 
            %input{ :type => "submit", :value => "absenden" }
    .small
      %h2
        Adresse
      %p
        CyT GmbH
      %p
        Dorfstrasse 17
      %p
        6300 Zug
      %p
        041 544 47 60
      %p
        info@cyt.ch
