// background gradients
#gradient_top
  padding: 0
  margin: 0
  position: absolute
  top: 0
  width: 100%
  height: 120px
  background-color: $gradient_bkgd_light // Old browsers
  +filter-gradient($gradient_bkgd_dark, $gradient_bkgd_light, vertical) // IE6-9
  +background-image(linear-gradient(top,  $gradient_bkgd_dark 0%,$gradient_bkgd_middle 53%,$gradient_bkgd_light 100%))
  z-index: -1000

#gradient_bottom
  padding: 0
  margin: 0 0 -40px 0 
  position: absolute
  bottom: 0
  width: 100%
  height: 120px
  background-color: $gradient_bkgd_light // Old browsers
  +filter-gradient($gradient_bkgd_light, $gradient_bkgd_dark, vertical) // IE6-9
  +background-image(linear-gradient(top,  $gradient_bkgd_light 0%,$gradient_bkgd_middle 47%,$gradient_bkgd_dark 100%))
  z-index: -1000
