// content container
#content
  overflow: visible
  padding: 10px 0

.line
  display: inline-block
  float: left
  padding-bottom: 10px
  
.box
  border: 1px solid $border
  background-color: #fff
  +box-shadow
  +border-radius
  display: block
  float: left
  margin-right: 10px

.small
  width: 261px
  float: left
  padding: 0 20px
  margin: 0 5px

.last
  margin-right: 0

.spacer
  margin-right: 17px

.double
  width: 522x
  float: left
  padding: 0 20px
  margin: 0 5px

.text
  padding: 0 20px