// content container
#content
  +column(61)
  +prepend(1)
  min-height: 900px
  background-color: $content_bkgd
  border: 1px solid $border
  border-top-style: none
  +border-bottom-radius 
  +box-shadow

  // content boxes
  .largebox
    +prepend(1)
    +append(1)
    +column(58)
    +prepend-top(1em)  
    +border-radius
    +box-shadow
    background: $content_box
      
  .mediumbox
    +prepend(1)
    +append(1)
    +column(38)
    +prepend-top(1em)    
    +border-radius
    +box-shadow
    
    background: $content_box

  .smallbox
    +prepend(1)
    +append(1)
    +column(18)
    +prepend-top(1em)    
    +border-radius
    +box-shadow
   
    background: $content_box
