// content container
#content
  overflow: visible
  margin-top: 10px

.line
  display: inline-block
  margin-bottom: 10px
  float: left

.box
  border: 1px solid $border
  background-color: #fff
  +box-shadow
  +border-radius
  display: block
  float: left
  margin-right: 10px
  
.small
  width: 261px
  float: left
  padding: 0 20px
  margin: 0 5px

.last
  margin-right: 0

.spacer
  margin-right: 17px