// navigation bar style
#navigation
  width: 980px
  height: 52px
  border: 1px solid $border
  background-color: $gradient_nav_dark // Old browsers
  +filter-gradient($gradient_nav_light, $gradient_nav_dark, vertical) // IE6-9
  +background-image(linear-gradient(top,  $gradient_nav_light 0%,$gradient_nav_middle 55%,$gradient_nav_dark 100%))
  font-weight: bold
  text-transform: capitalize
  +border-radius 
  +box-shadow

  // elements
  ul
    display: inline

  li
    display: inline
    border: 1px none $border

  // logo
  .main img
    padding: 0 20px
    margin: -3px -20px -8px

  // main
  .main li
    float: left
    border-right-style: solid

  // help
  .second li
    float: right
    border-left-style: solid

  // hover
  a:link,a:visited,a:focus
    display: block
    padding: 19px 20px 18px
    outline: none
    color: #000000
    text-decoration: none

  a:hover,
    color: $hover_font
    background-color: $hover

  a:focus,a:active
    color: #000000
    color: $hover_font
    background-color: $hover

  // rounded top corner for the help button
  a.rounded_right:hover
    +border-top-right-radius 

  a.rounded_right:focus,a.rounded_right:active
    color: #000000
    color: $hover_font
    background-color: $hover
    +border-top-right-radius 

  a.rounded_left:hover 
    background-color: $gradient_nav_dark // Old browsers
    +filter-gradient($gradient_nav_light, $gradient_nav_dark, vertical) // IE6-9
    +background-image(linear-gradient(top, $gradient_nav_light 0%,$gradient_nav_middle 55%,$gradient_nav_dark 100%))
    +border-top-left-radius 

  a.rounded_left:focus,a.rounded_left:active
    background-color: $gradient_nav_dark // Old browsers
    +filter-gradient($gradient_nav_light, $gradient_nav_dark, vertical) // IE6-9
    +background-image(linear-gradient(top, $gradient_nav_light 0%,$gradient_nav_middle 55%,$gradient_nav_dark 100%))
    +border-top-left-radius 