// navigation bar style
#navigation
  height: 52px
  border: 1px solid $border
  background-color: $gradient_nav_dark // Old browsers
  +filter-gradient($gradient_nav_light, $gradient_nav_dark, vertical) // IE6-9
  +background-image(linear-gradient(top,  $gradient_nav_light 0%,$gradient_nav_middle 55%,$gradient_nav_dark 100%))
  font-weight: bold
  font-color: 6f6f6f
  text-transform: capitalize
  +border-radius
  +box-shadow

  // elements
  ul
    display: inline

  li
    list-style: none
    border: 1px none $border
    +text-shadow
  
  h1#logo
    +replace-text('/assets/bookyt.png', 50%, 17px)
    width: 102px
    height: 52px
    float: left
    padding: 0 20px
    border: 1px none $border
    border-right-style: solid
    margin: 0
  
    a
      display: block
      height: 52px
      width: 102px
  
  // main
  .main li
    float: left
    border-right-style: solid

  // help
  .second li
    float: right
    border-left-style: solid

  // hover
  .second, .main
    a:link,a:visited
      display: block
      padding: 19px 20px 18px
      outline: none
      color: #000000
      text-decoration: none

      
    a:hover,a:active,a:focus, li.selected a
      color: $hover_font
      background-color: $hover

  .second a:hover, .second li.selected a
    +border-right-radius

  a.rounded_left:hover
    background-color: $gradient_nav_dark // Old browsers
    +filter-gradient($gradient_nav_light, $gradient_nav_dark, vertical) // IE6-9
    +background-image(linear-gradient(top, $gradient_nav_light 0%,$gradient_nav_middle 55%,$gradient_nav_dark 100%))
    +border-left-radius

