#maincontainer {
  top: 47;
  background-color: #f6f6f6;
  min-height: 700px;
  min-width: 1030px;
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-color: #c6c6c6;
  border-right-style: solid;
  border-left-style: solid;
  z-index: -4;
}
