!!! 5
%html
  %head
    %title 
      cyt.ch  
  %body
    %h1#cyt_logo
      cyt.ch
    #body
      #navigation
        %ul#main
          %li home
          %li produkte
          %li dienstleistungen
          %li über uns
          %li community
        
        %ul#help
          %li login
          %li hilfe
       
      #content
        .content.largebox
          %p
            largebox
          
        .content.mediumbox
          %p
            mediumbox
        
        .content.smallbox
          %p
            smallbox
              
      #footer
        %p
          feedback
